:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  
  --background-color: #fff;
  --color-title: black;
  --subtitle: #5A5A5A;
  --background-card: rgb(242, 242, 242);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[data-theme="dark"]{
  --background-color: #242424;;
  --color-title: #fff;
  --subtitle: #fff;
  --background-card: rgb(60, 62, 68);
}

*{
  padding: 0;
  margin: 0;
  /* transition: 0.5s; */
}


/* 
  darkmode
  background-color:#242424;
*/




/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
